/*-----------------------------fonts----------------------------*/
$default-font: "Times New Roman";

$Alegreya: 'Alegreya', serif;
$Scriptina: 'Scriptina', serif;
$Proxima: 'Proxima', serif;
$Playfair: 'Playfair Display', serif;
