extends ../template

block variables
	- var title = 'Index'

block content
	main.page-content
		.container.page-content__wrapper
			h1.headline  Headline
			.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis modi esse veritatis quidem odio architecto saepe vero doloribus, corporis sequi quos odit voluptas, quisquam voluptate eligendi mollitia reprehenderit suscipit similique. Placeat obcaecati quam quo. Cumque officiis ipsum quod? Quos, repudiandae voluptate, impedit vitae autem maiores blanditiis cumque natus perspiciatis facilis explicabo ipsa suscipit optio. Ducimus doloremque totam asperiores excepturi laudantium similique dignissimos numquam deleniti harum facilis minus id ex voluptatum cum ratione quo quod est saepe dicta, aperiam quaerat consequuntur! Asperiores porro sapiente magni odio harum delectus alias sed eveniet vero mollitia magnam optio recusandae nostrum, exercitationem amet earum rem!
